  
.ToDoContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 70%;
    margin-top: 16px;
    background-color: rgb(151, 209, 136);
    padding: 15px;
    border-radius: 3px;
    gap: 10px;
}
  